projects/
tmp/
.gnupg/
.nix-channels
.stack/
.eclipse/
.dbus/
.pki/
.local/
.cache/
.compose-cache/
.cabal/
.nix-profile
.nixpkgs/
.nix-defexpr/
.emacs.d/
.parallel/
.ssh/
.ghc/
.config/mr/
.config/vcsh/
.config/chromium/
.config/nvim/
.config/htop/
.Xauthority
.mrconfig
.urxvt-theme
*.hi
*.o
*.pid
*errors*
